table {
  background-color: blue;
  margin: 0 auto;
  border-color: yellow;
}

td {
  width: 100px;
  height: 100px;
  color: yellow;
  text-align: center;
  font-size: 80px;
}

p, h1 {
  text-align: center;
}

button {
  display: block;
  margin: 15px auto;
}

/* Se pondrán rosa aquellas celdas que no estén seleccionadas (que no tengan X ni O) cuando pasemos el ratón por encima (hover) */
td:not(.selected):hover {
  background-color: pink;
}
/* El tablero toma el color verde cuando alguien gane */
.win {
  background-color: green;
}
/* El tablero toma el color rojo cuando haya empate */
.loose {
  background-color: rgb(228, 16, 73);
}